<div class="form-wrapper">
    <form ng-submit="save(classesForm)" name="classesForm">

        <fieldset ng-class="{ 'has-error' : classesForm.employment_total.$invalid }">
            <label>Всего занятий:</label>
            <input type="text" name="employment_total" ng-model="employment_total" ng-pattern="/^\d+$/" placeholder="Целое число">
            <p ng-show="classesForm.employment_total.$invalid">Целое число.</p>
        </fieldset>

        <fieldset ng-class="{ 'has-error' : classesForm.respectful_reason.$invalid }">
            <label>Из них пропущены по уважительной причине:</label>
            <input type="text" name="respectful_reason" ng-model="respectful_reason" ng-pattern="/^\d+$/" placeholder="Целое число">
            <p ng-show="classesForm.respectful_reason.$invalid">Целое число</p>
        </fieldset>

        <fieldset ng-class="{ 'has-error' : classesForm.respectful_not_reason.$invalid }">
            <label>Из них пропущены по неуважительной причине:</label>
            <input type="text" name="respectful_not_reason" ng-model="respectful_not_reason" ng-pattern="/^\d+$/" placeholder="Целое число">
            <p ng-show="classesForm.respectful_not_reason.$invalid">Целое число</p>
        </fieldset>

        <fieldset class="text-center">
            <input type="submit" value="Сохранить" ng-disabled="!employment_total || !respectful_reason || !respectful_not_reason" />
        </fieldset>

        <p class="saved" id="saved">Изменения сохранены.</p>

    </form>
</div>