<div class="container">
    <div class="row text-center outcome">
        <p><b>Студент:</b> {{student}}</p>
        <p><b>Баллов всего:</b> {{bally_total}}</p>
        <p><b>Средний балл:</b> {{bally_average}}</p>
        <p><b>Всего занятий:</b> {{employment_total}}</p>
        <p><b>Из них пропущены по уважительной причине:</b> {{respectful_reason}}</p>
        <p><b>Из них пропущены по неуважительной причине: </b> {{respectful_not_reason}}</p>
        <p><b>Процент пропущенных по неуважительной причине:</b> {{not_reason_total}}%</p>

        <div class="yea" ng-show="yea">Экзамен автоматом =)</div>
        <div class="fail" ng-show="!yea">Придется сдавать экзамен ;-(</div>
        <button ng-click="send()">Отправить на сервер</button>
    </div>
</div>