<div class="form-wrapper">

    <form ng-submit="add(ratingForm)" name="ratingForm">

        <ul class="rating-list">
            <li ng-repeat="(i, item) in data">
                <b>{{item.value}}</b> <span data-index="{{i}}" ng-click="remove($event)">[ удалить ]</span>
            </li>
        </ul>

        <h3 class="text-center">Средний балл: {{bally_average}}</h3>

        <fieldset ng-class="{ 'has-error' : ratingForm.value.$invalid }">
            <input type="text" name="value" ng-model="value" ng-pattern="/^[1-5]$/" placeholder="Оценка от 1 до 5">
            <p ng-show="ratingForm.value.$invalid">Целое число от 1 до 5</p>
        </fieldset>

        <fieldset class="text-center">
            <input type="submit" value="Добавить" ng-disabled="!value">
        </fieldset>

    </form>

</div>