@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);

$base_color: #00b4ff;

@mixin border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Helpers */
* {
  outline: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, .container, .row {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

nav, footer {
  display: block;
}

div.table {
  display: table;
  width: 100%;

  > div.grid {
    display: table-row;
    vertical-align: middle;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

/* Main styles */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;

  font-family: sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

nav {
  border-bottom: 1px solid darken($base_color, 15%);
  background-color: darken($base_color, 20%);
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  color: lighten($base_color, 75%);
  border-top: 1px solid darken($base_color, 15%);
  background-color: darken($base_color, 20%);
}

.project-name {
  font-size: 36px;
  line-height: 1;
  color: lighten($base_color, 75%);

  text-align: center;
  padding: 20px 0;
}

.toggle-menu {
  color: lighten($base_color, 75%);

  border: 1px solid darken($base_color, 42.5%);
  background-color: darken($base_color, 32.5%);
  padding: 10px 25px;

  @include border-radius;

  cursor: pointer;

  &:hover {
    border: 1px solid darken($base_color, 40%);
    background-color: darken($base_color, 30%);
  }
}

.navigation-wrapper {
  text-align: center;

  > .row {
    padding-bottom: 20px;
  }
}

.navigation {
  display: inline-block;
  position: relative;
}

.navigation-main {
  position: absolute;

  display: none;
  visibility: hidden;
  opacity: 0;

  width: 200px;
  left: 50%;
  margin-left: -100px;
  padding-top: 10px;

  > div > ul {
    border: 1px solid darken($base_color, 35%);
    background-color: darken($base_color, 32.5%);

    @include border-radius;

    > li:first-child > a {
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    > li:last-child > a {
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  li {
    display: block;

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      white-space: nowrap;

      color: lighten($base_color, 75%);

      -webkit-transition: background-color 250ms ease-in-out;
      -moz-transition: background-color 250ms ease-in-out;
      -o-transition: background-color 250ms ease-in-out;
      transition: background-color 250ms ease-in-out;

      &:hover, &.active, &.focus {
        background-color: darken($base_color, 30%);
      }
      &.active {
        background-color: darken($base_color, 25%);
      }
    }
  }
}

.navigation > li:last-child:hover > .navigation-main {
  display: block;
  visibility: visible;
  opacity: 1;
}

.outcome {
  padding: 50px 0;

  p > b {
    display: block;
  }
}

.rating-list {
  li {
    text-align: center;
    padding-top: 15px;

    b {
      font-size: 24px;
      display: block;
    }

    span {
      display: inline-block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &:first-child {
      padding: 0;
    }
  }
}

.yea, .fail {
  font-size: 21px;
  padding: 30px 0;
}
.yea, .saved {
  color: green;
}
.fail {
  color: #eb0c0c;
}
.saved {
  text-align: center;
  font-weight: 700;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  &.in {
    visibility: visible;
    opacity: 1;
  }
}


/* Form styles */
.form-wrapper {
  padding: 0 50px;
}
form {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;

  fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px;

    label {
      font-weight: 700;
      font-size: 90%;
      margin: 0 0 5px;
      display: block;
    }

    p {
      margin: 5px 0 0;
    }

    input[type="text"] {
      width: 100%;
      border: 1px solid #eee;
      background-color: #fff;
      padding: 8px 10px;

      @include border-radius;

      &:focus, &:active {
        -moz-box-shadow: 0px 0px 5px 0px rgba(155, 191, 208, 0.32);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(155, 191, 208, 0.32);
        box-shadow: 0px 0px 5px 0px rgba(155, 191, 208, 0.32);
      }
    }

    &.has-error {
      color: #eb0c0c;

      input[type="text"] {
        border: 1px solid #eb0c0c;
      }
    }
  }
}

input[type="submit"],
input[type="button"],
button {
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 10px 15px;
  cursor: pointer;

  @include border-radius;

  &:hover, &:active, &:focus {
    border: 1px solid darken(#ddd, 5%);
    background-color: darken(#eee, 5%);
  }

  &:disabled {
    cursor: default;
    border: 1px solid lighten(#ddd, 5%);
    background-color: lighten(#eee, 5%);
    color: #ccc;
  }
}


/* Grid system */
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-50 {
  width: 100%;
}

@media (min-width: 970px) {
  .container {
    width: 970px;
  }

  .grid-50 {
    width: 50%;
  }

  div.table > div.grid {
    display: table-cell;
  }

  .project-name {
    text-align: left;
  }

  .toggle-menu {
    display: none;
  }

  .navigation-wrapper {
    text-align: right;

    > .row {
      padding: 0;
    }
  }

  .navigation-main {
    position: static;

    display: block;
    visibility: visible;
    opacity: 1;

    width: auto;
    left: inherit;
    margin: 0;

    > div > ul {
      background-color: transparent;
      border: none;
    }

    li {
      float: left;
      margin-left: 15px;

      a {
        padding: 15px 20px;
        text-decoration: none;

      }
    }
  }

  .outcome p > b {
    display: inline;
  }

  form {
    width: 380px;
  }
}